openapi: 3.0.1
info:
  title: VCPR.ORG Protocol API
  version: 2.0.2
  contact:
    name: Jim Ehrlich, DVM
    email: jehrlich@vcpr.org
  description: >-
    API serving the Veterinary Protocol Manager&trade; application. &copy;
    DairySight LLC, Argyle NY 2020
servers:
  - description: Production server, uses production database.
    url: https://VCPR.ORG
  - description: Staging server, uses staging database.
security:
  - authToken: []
paths:
  /api/users/logins:
    $ref: paths/api_users_logins.yaml
  /api/users:
    $ref: paths/api_users.yaml
  /api/users/{id}:
    $ref: paths/api_users_{id}.yaml
  /api/users/comments:
    $ref: paths/api_users_comments.yaml
  /api/users/my-right-relations:
    $ref: paths/api_users_my-right-relations.yaml
  /api/protocols/sharesToAll/:
    $ref: paths/api_protocols_sharesToAll_.yaml
  /api/protocols/sharesToAll/{pxId}:
    $ref: paths/api_protocols_sharesToAll_{pxId}.yaml
  /api/protocols/shares:
    $ref: paths/api_protocols_shares.yaml
  /api/protocols:
    $ref: paths/api_protocols.yaml
  /api/protocols/eligibilities:
    $ref: paths/api_protocols_eligibilities.yaml
  /api/protocols/diagnoses:
    $ref: paths/api_protocols_diagnoses.yaml
  /api/protocols/libs:
    $ref: paths/api_protocols_libs.yaml
  /api/protocols/dosages:
    $ref: paths/api_protocols_dosages.yaml
  /api/protocols/libstubs:
    $ref: paths/api_protocols_libstubs.yaml
  /api/protocols/{id}:
    $ref: paths/api_protocols_{id}.yaml
  /api/protocols/prescriptions:
    $ref: paths/api_protocols_prescriptions.yaml
  /api/protocols/prescriptions/by:
    $ref: paths/api_protocols_prescriptions_by.yaml
  /api/protocols/prescriptions/to:
    $ref: paths/api_protocols_prescriptions_to.yaml
  /api/protocols/prescriptions/{id}:
    $ref: paths/api_protocols_prescriptions_{id}.yaml
  /api/protocols/{id}/prescriptions:
    $ref: paths/api_protocols_{id}_prescriptions.yaml
  /api/labels:
    $ref: paths/api_labels.yaml
  /api/labels/inserts/{lxId}:
    $ref: paths/api_labels_inserts_{lxId}.yaml
  /api/admin/product:
    $ref: paths/api_admin_product.yaml
  /api/admin/product/{ndc}:
    $ref: paths/api_admin_product_{ndc}.yaml
  /api/spl/{ndc}:
    $ref: paths/api_spl_{ndc}.yaml
  /api/spl/{ndc}/{image}:
    $ref: paths/api_spl_{ndc}_{image}.yaml
components:
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Uses JWT token stored in request header.
tags:
  - name: User
    description: Endpoints and models related to user management.
  - name: Protocol
    description: Endpoints and models related to protocol management.
  - name: Prescription
    description: Endpoints and models related to prescription management.
  - name: Case
    description: Endpoints and models related to case management.
  - name: Promise
    description: Endpoints and models related to promise management.
